*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    width: 300px;
    height: 300px;
    border: 4px solid #e7c5c5;
    background: transparent;
    border-radius: 20px;
}

.linha{
    width: 200px;
    height: 10px;
    background-color: #e7c5c5;
    display: block;
    margin: 30px auto;
}